<div class="registro-container">
    <h2>Registro de Administrador</h2>
  
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
        <!Campo de Di>
        <div class="form-group">
            <label>DI:</label>
            <input type="text" formControlName="di" class="form-control" maxlength="10" (input)="soloNumeros($event)" />
            <div class="error" *ngIf="adminForm.get('di')?.invalid && adminForm.get('di')?.touched">
              DI es requerido.
            </div>
          </div>
      <!Campo del Nombre>
        <div class="form-group">
        <label>Nombre:</label>
        <input type="text" formControlName="nombre" />
        <div class="error" *ngIf="adminForm.get('nombre')?.touched && adminForm.get('nombre')?.invalid">
          {{ adminForm.get('nombre')?.errors?.['required'] ? 'Nombre es requerido.' : '' }}
          {{ adminForm.get('nombre')?.errors?.['minlength'] ? 'Mínimo 2 caracteres.' : '' }}
          {{ adminForm.get('nombre')?.errors?.['maxlength'] ? 'Máximo 100 caracteres.' : '' }}
        </div>
      </div>
      <!Campo del Apellido>
      <div class="form-group">
      <label>Apellido:</label>
      <input type="text" formControlName="apellido" />
      <div class="error" *ngIf="adminForm.get('apellido')?.invalid && adminForm.get('apellido')?.touched">
        Apellidos es requeridos.
      </div>
    </div>

        <!-- Campo Usuario (Nuevo) -->
    <div class="form-group">
      <label>Usuario:</label>
      <input type="text" formControlName="usuario" />
      <div class="error" *ngIf="adminForm.get('usuario')?.invalid && adminForm.get('usuario')?.touched">
        El usuario es requerido.
      </div>
    </div>


      <!-- Campo del Email -->
      <div class="form-group">
        <label>Email:</label>
        <input type="email" formControlName="correo" />
        <div class="error" *ngIf="adminForm.get('correo')?.invalid && adminForm.get('correo')?.touched">
          Email no válido.
        </div>
      </div>




      <!Campo del telefono>
      <div class="form-group">
        <label>Teléfono:</label>
        <input type="text" formControlName="telefono" />
      
        <div class="error" *ngIf="adminForm.get('telefono')?.invalid && adminForm.get('telefono')?.touched">
          <div *ngIf="adminForm.get('telefono')?.errors?.['required']">
            El teléfono es obligatorio.
          </div>
          <div *ngIf="adminForm.get('telefono')?.errors?.['pattern']">
            Solo se permiten números.
          </div>
        </div>
      </div>      
      
    
      <!-- Campo Contraseña -->
      <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" formControlName="contrasena" />
        <div class="error" *ngIf="adminForm.get('contrasena')?.invalid && adminForm.get('contrasena')?.touched">
          <div *ngIf="adminForm.get('contrasena')?.errors?.['required']">
            La contraseña es obligatoria.
          </div>
          <div *ngIf="adminForm.get('contrasena')?.errors?.['pattern']">
            La contraseña debe tener mínimo 8 caracteres, incluir mayúscula, minúscula, número y carácter especial.
          </div>
        </div>
      </div>
      <div *ngIf="mensajeExito" class="alert alert-success">
        {{ mensajeExito }}
      </div>


      <div *ngIf="mensajeError" class="alert alert-danger">
          {{ mensajeError }}
      </div>

  
      <button type="submit" [disabled]="adminForm.invalid">Registrar</button>
    </form>
  </div>
      <button type="button" class="volver-btn" (click)="confirmarSalida()">Volver</button>





 

  

 

  