<div class="admin-dashboard">
    <h1>Bienvenido</h1>
    <div class="card-grid">
      <div class="card" routerLink="/registro-admin"> <!-- Use el routerLink del registro de administradores -->
        <h3>Registrar Administrador</h3>
        <p>Crear una nueva cuenta de administrador.</p>
      </div>
      <div class="card">
        <h3>Gestionar Productos</h3>
        <p>Agregar, editar o eliminar productos del menú.</p>
      </div>
      <div class="card">
        <h3>Ver Reservas</h3>
        <p>Consultar las reservas realizadas por los usuarios.</p>
      </div>
      <div class="card">
        <h3>Inventario</h3>
        <p>Revisar el inventario de los productos de venta.</p>
      </div>
    </div>
  </div>
  
