<div class="InicioSesion-container">
    <div class="form-box">
      <h2>Inicio de Sesión</h2>
  
      <form>
        <label for="email">Correo electrónico</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Ingresa tu correo"
          required
          #email
        />
  
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Ingresa tu contraseña"
          required
          #password
        />
            
      <button type="button" (click)="onInicioSesion(email.value, password.value)">
        Iniciar Sesión
      </button>

      <!-- Mensaje de error -->
      <div *ngIf="mensajeError" class="error">
        {{ mensajeError }}
      </div>

        <!-- 
        <p class="register-link">
          ¿No tienes cuenta?
          <a routerLink="/registro">Regístrate aquí</a> 
        </p>
        -->
      </form>
    </div>
  </div>
  
